.gradle/
.idea/
*.iml
*.lock
*.bin
*.probe
/build/
app/build/
/captures
.externalNativeBuild/
.cxx/
local.properties
.DS_Store
app/release/app-release.apk
app/release/baselineProfiles/0/app-release.dm
app/release/baselineProfiles/1/app-release.dm
app/release/output-metadata.json
app/release/app-release.apk
app/release/app-release.apk
